@charset 'utf-8';
@import "public";

body {
	background: $blue;
	color: $white;
}

header {
	@include greyborder-bot;
	border-color: #74e4db;
	text-align: center;
}

.center-img {
	display: block;
	margin: 0 auto;
	width: $width - 45;
}


content {
	display: inline-block;
	width: $width;
	height: 82px;
	border-bottom: 1px solid #ddd;
	background: $white;
	color: $black;
}


footer {
	width: $width;
	background-color: rgba(41,189,224,.9);
	.btn {
		margin: $width / 25;
		width: $width - 58;
		height: 42px;
		border-radius: 5px;
		a {
			display: block;
    	width: $width;
    	height: inherit;
		}
	}
	.bg-red {
		background-color: $red;
	}
	.bg-orange {
		background-color: $orange;
	}
}