@charset 'utf-8';
@import "public";

.font-12 {
	font-size: $font-size - 4;
}

.font-20 {
	font-size: $font-size + 4;
}

body {
	background: $blue;
	color: $white;
	letter-spacing: .5px;
}

header {
	.icon {
		position: absolute;
		width: 22px;
		height: 22px;
	}
	.hbg-icon {
		left: 15px;
		background: url(../images/hbg.png);
		background-size: 100% 100%;
	}
	.shutdown-icon {
		right: 15px;
		background: url(../images/shutdown.png);
		background-size: 100% 100%;
	}
}

.summary {
    padding-left: 20px;
	height: 42px;
	justify-content: flex-start;
	background: $blue-grey; 
}

.btn-audio {
	position: absolute;
    right: 15px;
    width: 27px;
   	height: 27px;
    background:url(../images/play.png) no-repeat center bottom;
    background-size:cover;
}

.down-arrow {
    width: 0;
    height: 0;
    margin: 0 36px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid $blue-grey;
}
.tip {
    margin: 0 36px;
}

main {
	margin: 18px $width - 94 130px;
	width: $width - 12;
	.choise-person {
		margin-bottom: 10px;
		//width: 68px;
		width: $width / 4;
		&:hover .icon{
			visibility: visible;
		}
		&:focus .icon{
			visibility: visible;
		}
	}
	.number {
		//width: 63px;
		width: $width;
		padding: $width / 4 0;
		//height: 50px;
		border-top: 2.5px solid $white;
		border-right: 2.5px solid $white;
		border-left: 2.5px solid $white;
		background: #f5c97b;
		box-sizing: border-box;
		color: #565656;
	}
	.name {
		//width: 63px;
		width: $width;
		//height: 13px;
		border-right: 2.5px solid $white;
		border-left: 2.5px solid $white;
		border-bottom: 2.5px solid $white;
		box-sizing: border-box;
		background: #83b09a;
	}
	.choise-icon {
		width: 15px;
		height: 15px;
	}
	.icon {
		visibility: hidden;
		margin-top: 3%;
		width: $width;
		letter-spacing: -2.5px;
		button {
			width: 22%;
			margin: 0 1.5%;
			padding: 11% 0;
			//height: 15.2px;
			box-sizing: border-box;
			background-size: cover;
		}
	}
	.icon-knife {
		background: url(../images/knife.png) 100% no-repeat;
	}
	.icon-aim {
		background: url(../images/aim.png) 100% no-repeat;
	}
	.icon-heal {
		background: url(../images/heal.png) 100% no-repeat;
	}
	.icon-magnifier {
		background: url(../images/magnifier.png) 100% no-repeat;
	}
}


footer {
	position: fixed;
	bottom: 0;
	margin: 0 6%;
    width: $width - 12;
    padding: 40px 0;
    border-top: 1px solid $white;
    background: $blue;
	.btn {
		margin: 0 12%;
		width: $width - 24;
		height: 45px;
		background: $orange;
	}
}